@import "../../styles/base/variables";

.proceduresBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-weight: bolder;

  label {
    font-size: 28px;
    color: $gray;
    margin: 15px;
  }
  select {
    font-weight: bolder;

    font-size: 28px;
    color: $pink;
    margin: 0 auto;
    width: 50%;
    padding: 15px;
  }
}
.datatime {
  display: flex;
  justify-content: center;
  align-items: center;

  .calendar {
    width: 50%;
    height: 50%;
    margin: 0 25px;
    z-index: 0;
    color: $pink;
    padding: 0px;
    margin: 25px;
    z-index: 0;
  }
}

.buttonBook {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  display: block;
  max-width: 50%;
  background-color: $pink;
  color: $white;
  padding: 25px 50px;
  margin: 20px auto;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #444f6c;
  }
}
