// @import "../../styles/base/variables";

.map {
  h1 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;
  }
  margin: 184px 0 100px;
}

.infoContactForm {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}
