@import "../styles/base/variables";

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .userBookingsDetailHeader {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    h3 {
      font-family: "Herr Von Muellerhoff", cursive;
      font-size: 90px;
      color: $pink;
    }
    h2 {
      font-size: 60px;
      font-weight: bolder;
      text-transform: uppercase;
      line-height: 50px;
      letter-spacing: 0px;
      padding-left: 40px;
      margin-top: -20px;
      margin-bottom: 15px;
    }
  }
  .userBookingsDetailBlock {
    // background: $pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    .bookingsBlock {
      width: 200px;
      padding: 10px;
      border: 1px $pink solid;
      border-radius: 5px;
      margin: 5px;
      h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
      }
      .dateTimeTitle {
        display: flex;
        font-size: 16px;
        margin-bottom: 20px;
        h4 {
          margin-right: 10px;
        }
      }
    }
  }
  .form {
    display: flex;
    justify-content: space-between;
    .leftBlock,
    .rightBlock {
      width: 100%;
    }
  }

  .formData {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 0;
    label {
      font-size: 18px;
      color: $gray;
    }

    input,
    select {
      width: 70%;
      padding: 15px;
    }
  }
  .button,
  .buttonEdit {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    display: block;
    max-width: 50%;
    background-color: $pink;
    color: $white;
    padding: 25px 50px;
    margin: 20px auto;
    border-radius: 2px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: #444f6c;
    }
  }
}

.rightBlock {
  width: 100%;
  margin-left: 20px;
}
.leftBlock {
  width: 100%;
}

@media (max-width: 991px) {
  .rightBlock {
    margin-left: 0px;
  }
}
