@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
// @use "./base/mixins" as *;

body {
  background-color: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 93px;
}

.wrapper {
  width: 70%;
  margin: auto;
}

@media (max-width: 700px) {
  .wrapper {
    width: 85%;
    margin: auto;
  }
}

// .account {
// .loginForm {
//   // display: none;
//   display: block;
//   position: absolute;
//   top: 75px;
//   right: 300px;
//   width: 240px;
//   background-color: $bgGray;
// }
// &:hover {
// background-color: red;
// .loginForm {
//   display: block;
// }
//   }
// }
